<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{37} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="fr.ducloyer" level="debug" />

    <root level="warn">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>